/* Homepage.css */
@keyframes moveLine {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -20; /* Move the dashes along the line */
  }
}

.line {
  stroke: #880b25;
  stroke-width: 2;
  stroke-dasharray: 4, 2;
  stroke-dashoffset: 0;
  animation: moveLine 2s linear infinite;
}

/* Enhanced button styles button {
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} */

/* button:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
} */

/* Card with explanation */
.card {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
}

.card.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Additional animations */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}
